# Maven

target/
!.mvn/wrapper/maven-wrapper.jar

# Logs

*.log

# Temporary files

*.tmp
*.temp

# OS files

.DS_Store
Thumbs.db

# IDE

.idea/
*.iml
.vscode/

# Build

*.class
*.jar
*.war

# Environment

.env

# Node (nếu frontend dùng JS)

node_modules/
dist/
build/

# Mac

.AppleDouble
.LSOverride

# Windows

ehthumbs.db
Desktop.ini
